<ol class="carousel-indicators">
   <% @patient.images.each_with_index do |photo, n| %>
     <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
   <% end %>
</ol>

<div class="carousel-inner" role="listbox">
  <div class="item active">
    <%= image_tag @patient.images.first.image_file.url %>
  </div>
  <% @patient.images.drop(1).each do |photo| %>
     <div class="item">
       <%= image_tag photo.image_file.url %>
     </div>
  <% end %>
</div>
<!-- Three column grid -->
<section id="three-column-grid" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-glasses"></i>
        <h3>hipster horses</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-bolt"></i>
        <h3>e-bikes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <i class="column-icon fas fa-smile"></i>
        <h3>awesome deals</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum corporis assumenda libero repellendus, necessitatibus praesentium nulla! Quis quod maxime minus neque dolore ab nulla, numquam. Adipisci esse dolores soluta perferendis.
        </p>
      </div>
    </div><!-- end three column grid -->
</section>
<!-- Latest arrivals / changed to featured product -->
<section id="arrivals" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Featured Products</h3>
      </div>
        <% cache 'featured-bikes', expires_in: Time.now.beginning_of_hour + 1.hour do %>
          <%= render @featured_products %>        
        <% end %>
    </div>
  </div>
</section>
<!-- Latest arrivals / changed to featured product -->
<section id="words" class="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Word of the hour</h3>
      </div>
      <div class="col-md-12">
        <% cache 'word-of-the-hour', expires_in: Time.now.beginning_of_hour + 1.hour do %>
          <%= %w(happy developer watch drifting ruby screencasts about rails).sample %>
        <% end %>
      </div>
    </div>
  </div>
</section>